/* -------------------------------- 

Primary style

-------------------------------- */
 html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  font-family:"Droid Serif", serif;
  color: #333333;
  background-color: white;
  /* prevent ie from showing the horizontal scrollbar */
  overflow-x: hidden;
}
body.overflow-hidden {
  /* when author bio is visible, the out-of-focus content won't scroll */
  overflow: hidden;
}
a {
  color: #f25f5c;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.portfolio-img {
  border-radius: .25em;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
 .cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content:'';
  display: table;
  clear: both;
}
/* -------------------------------- 

Main components 

-------------------------------- */
 main {
  position: relative;
  z-index: 2;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
main.slide-out {
  /* the main element slides to the left when the author bio is visible */
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  transform: translateX(-270px);
}
main.slide-out .cd-overlay {
  /* the overlay layer gets visible when the author bio slides in */
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}
@media only screen and (min-width: 768px) {
  main.slide-out {
    /* change in size of the author bio section */
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    -o-transform: translateX(-600px);
    transform: translateX(-600px);
  }
}
@media only screen and (min-width: 1200px) {
  main.slide-out {
    -webkit-transform: translateX(-800px);
    -moz-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    -o-transform: translateX(-800px);
    transform: translateX(-800px);
  }
}
.cd-section {
  padding: 2em 0;
  text-align: center;
}
.cd-section .cd-container {
  /* this modifies the .cd-container default max-width */
  max-width: 768px;
}
.cd-section h2 {
  font-family:"Droid Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 20px;
  font-size: 1.25rem;
}
.cd-section p {
  line-height: 1.4;
}
@media only screen and (min-width: 768px) {
  .cd-section {
    padding: 4em;
  }
  .cd-section p {
    line-height: 1.6;
  }
}
@media only screen and (min-width: 1200px) {
  .cd-section {
    padding: 6em;
  }
  .cd-section h2 {
    margin-bottom: 2em;
  }
  .cd-section p {
    line-height: 1.8;
    font-size: 18px;
    font-size: 1.125rem;
  }
}
header {
  background: #fff;
}
header h1 {
  font-size: 50px;
  /*font-size: 1.875rem;*/
  /*font-family: "Droid Sans", sans-serif;*/
  font-family:'Megrim', cursive;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .4em;
  color: #3e380c;
}
header p {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #93861d;
}
.profile-pic {
  margin: 30px;
}
.cd-placeholder-1 {
  background: #f25f5c;
  color: #fdeaea;
}
.cd-placeholder-2 {
  background: #ffe57b;
}
.cd-placeholder-3 {
  background: #7f82ff;
  color: #fff;
}
.cd-placeholder-4 {
  background: #73d9ff;
  color: #0f34ff;
}
.cd-placeholder-5 {
  background: #3c60b1;
  color: white;
}
.cd-placeholder-6 {
  background: #f25f5c;
}
.skillset {
  width: 200px;
}
.code {
  margin: 20px;
  padding: 20px;
  background: black;
  border-radius: 8px;
}
.code kbd {
  color: white;
  font-size: 25px;
  font-family: 'Anonymous Pro';
}
.social {
  display: inline-block;
  width: 15%;
}
.italicise {
  font-style: italic;
}
.list-none {
  list-style: none;
}
#cd-team {
  background: #7cd9ae;
}
#cd-team .cd-container {
  max-width: 1200px;
}
#cd-team h2 {
  color: #1a2f2a;
}
#cd-team li {
  margin-bottom: 2em;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(92, 75, 81, 0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.no-touch #cd-team li:hover {
  box-shadow: 0 0 10px rgba(92, 75, 81, 0.3);
}
.no-touch #cd-team li:hover .cd-img-overlay {
  opacity: 1;
}
#cd-team figure {
  position: relative;
}
#cd-team img {
  display: block;
  width: 100%;
  border-radius: .25em .25em 0 0;
}
#cd-team .cd-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(92, 75, 81, 0.9);
  opacity: 0;
  border-radius: .25em .25em 0 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#cd-team .cd-img-overlay span {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
}
#cd-team .cd-member-info {
  height: 80px;
  background: #FFF;
  text-align: center;
  font-family:"Droid Sans", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  border-radius: 0 0 .25em .25em;
}
#cd-team .cd-member-info span {
  display: block;
  font-family:"Droid Serif", serif;
  font-weight: normal;
  color: #999999;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: .5em;
}
@media only screen and (min-width: 768px) {
  #cd-team li {
    width: 31%;
    float: left;
    margin-right: 3.5%;
  }
  #cd-team li:nth-child(3n) {
    margin-right: 0;
  }
}
.cd-member-bio {
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  overflow-y: auto;
  /* smooth scrolling on mobile phones and tablets */
  -webkit-overflow-scrolling: touch;
  background: #5c4b51;
  z-index: 1;
  /* this how we move the author bio section off the canvas */
  -webkit-transform: translateX(270px);
  -moz-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-member-bio.slide-in {
  /* the author bio section slides in when the user clicks on the team member picture */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-member-bio .cd-member-bio-pict {
  position: relative;
}
.cd-member-bio .cd-member-bio-pict::after {
  /* gradient at the bottom of the image - same color of the background of the section */
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: -webkit-linear-gradient(bottom, #5c4b51, rgba(92, 75, 81, 0));
  background: linear-gradient(to top, #5c4b51, rgba(92, 75, 81, 0));
}
.no-cssgradients .cd-member-bio .cd-member-bio-pict::after {
  display: none;
}
.cd-member-bio img {
  width: 100%;
  display: block;
}
.cd-member-bio .cd-bio-content {
  padding: 1em;
  color: #FFF;
}
.cd-member-bio .cd-bio-content h1 {
  font-family:"Droid Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
}
.cd-member-bio .cd-bio-content p {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 1em 0;
  line-height: 1.4;
  color: #d7cfd2;
}
@media only screen and (min-width: 768px) {
  .cd-member-bio {
    width: 600px;
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px);
  }
  .cd-member-bio .cd-bio-content {
    padding: 2em;
  }
  .cd-member-bio .cd-bio-content p {
    line-height: 1.6;
    margin: 2em 0;
  }
}
@media only screen and (min-width: 1200px) {
  .cd-member-bio {
    width: 800px;
    -webkit-transform: translateX(800px);
    -moz-transform: translateX(800px);
    -ms-transform: translateX(800px);
    -o-transform: translateX(800px);
    transform: translateX(800px);
  }
  .cd-member-bio .cd-member-bio-pict::after {
    height: 150px;
  }
  .cd-member-bio .cd-bio-content {
    padding: 4em;
    /* we move the content up so the title is over the color gradient */
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  .cd-member-bio .cd-bio-content h1 {
    font-size: 40px;
    font-size: 2.5rem;
  }
  .cd-member-bio .cd-bio-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .no-cssgradients .cd-member-bio .cd-bio-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.cd-member-bio-close {
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 3;
  display: none;
}
.cd-member-bio-close.is-visible {
  display: block;
  -webkit-animation: cd-move-in 0.8s;
  -moz-animation: cd-move-in 0.8s;
  animation: cd-move-in 0.8s;
}
@media only screen and (min-width: 1200px) {
  .cd-member-bio-close {
    right: 20px;
    top: 20px;
  }
}
.cd-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(138, 190, 178, 0.8);
  cursor: pointer;
  display: none;
}
/* -------------------------------- 

xkeyframes 

-------------------------------- */
 @-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-move-in {
  0% {
    -moz-transform: translateX(100px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/**
 * Tooltips!
 */

/* Base styles for the element that has a tooltip */
[data-tooltip], .tooltip {
  position: relative;
  cursor: pointer;
}
/* Base styles for the entire tooltip */
[data-tooltip]:before, [data-tooltip]:after, .tooltip:before, .tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after {
  visibility: visible;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* Base styles for the tooltip's directional arrow */
 .tooltip:before, [data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content:"";
}
/* Base styles for the tooltip's content area */
 .tooltip:after, [data-tooltip]:after {
  z-index: 1000;
  padding: 10px 22px;
  width: 260px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #4acdc4;
  content: attr(data-tooltip);
  font-size: 15px;
  line-height: 1.2;
  border-radius: 10px;
  letter-spacing: 0.8px;
}
/* Horizontally align top/bottom tooltips */
[data-tooltip]:after, .tooltip:after, .tooltip-top:after {
  margin-left: -80px;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after, .tooltip-top:hover:before, .tooltip-top:hover:after, .tooltip-top:focus:before, .tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px);
}
/* Bottom */
 .tooltip-bottom:before, .tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}
.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}
.tooltip-bottom:hover:before, .tooltip-bottom:hover:after, .tooltip-bottom:focus:before, .tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px);
}
/* Right */
 .tooltip-right:before, .tooltip-right:after {
  bottom: 50%;
  left: 100%;
}
.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}
.tooltip-right:hover:before, .tooltip-right:hover:after, .tooltip-right:focus:before, .tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
}
/* Move directional arrows down a bit for left/right tooltips */
 .tooltip-left:before, .tooltip-right:before {
  top: 3px;
}
/* Vertically center tooltip content for left/right tooltips */
 .tooltip-left:after, .tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

/* Wobble Vertical */
 @-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical:hover {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Jump to top button */
.scrollToTop {
  position: fixed;
  display: none;
  bottom: 12px;
  right: 12px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 12px;
  background: #2263db;
  color: #e4e8ef;
  font-weight: bold;
  border-radius: 3px;
  z-index: 9;
  cursor: pointer;
}